# Assets以外は除く
Library/
ProjectSettings/
UnityPackageManager/

*.csproj
*.sln

# VRCAvatarEditor以外は除く
Assets/*
!Assets/VRCAvatarEditor/

# カスタム設定ファイルは除く
Assets/VRCAvatarEditor/Origins/CustomSettingData.asset

# 作成したAnimationファイルは除く
Assets/VRCAvatarEditor/Animations/
!Assets/VRCAvatarEditor/Animations/Dummy.anim

*.meta
